@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeout-text {
  animation-duration: 0.25s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}

.fadein-text {
  animation-duration: 0.25s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}